.footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: 150px;
    background:linear-gradient(#360133,#4D0448,#770570);
    .linea2{
        text-decoration: none;
        color:rgb(255, 255, 255);
    }
    button{
        width: 11%;
        height: 26%;
        font-size: 18px;
        margin: 5px 0px 5px auto;
        background:transparent; 
        color:rgb(255, 255, 255) ;
        border: none;
        border-left: solid 0.6mm rgba(255, 255, 255, 1);
    }
    .in{color: rgba(255, 255, 255, 1);
        font-size: 32px;
        margin:  10px;
    }
    .face{color:rgba(255, 255, 255, 1);
        font-size: 32px;
        margin: 10px;
    }
    .wpp{color:rgba(255, 255, 255, 1);
        font-size: 32px;
        margin:  10px;
    }
}